<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Spring Framework</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

	<div class="col-md-offset-3">
		<h2>Confirmation</h2>
	</div>
	<hr></hr>
	<div class="col-md-offset-3">
	<h3> Congratulation! Your order has been submitted! </h3>
	<a href="/order">Please click me to see</a>
	</div>

</body>
</html>